<!--form.ejs
    Form part of Assignment 3 

    Revision History
        Pierre Loubateres, 2020.11.20: Final Version-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Apple Store</title>
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <h1>Apple Store</h1>
        <form id="form" name="myform" method="Post" onsubmit="return formSubmit();" action="">
            <label>Full Name</label>
            <input id="fullName" placeholder="Full Name" type="text" name="fullName"><br/>

            <label>Phone Number</label>
            <input id="phoneNumber" placeholder="XXX-XXX-XXXX" type="text" name="phoneNumber"><br/>

            <label>Address</label>
            <input id="address" placeholder="Address" type="text" name="address"><br/>
            
            <label>City</label>
            <input id="city" placeholder="City" type="text" name="city"><br/>

            <label>Province</label>
            <select name="province" id="province">
                <option value="">----- Select a Province -----</option>
                <option value="Alberta">Alberta</option>
                <option value="British Colombia">British Columbia</option>
                <option value="Manitoba">Manitoba</option>
                <option value="New-Brunswick">New Brunswick</option>
                <option value="Newfoundland And Labrador">Newfoundland and Labrador</option>
                <option value="Northwest Territories">Northwest Territories</option>
                <option value="Nova Scotia">Nova Scotia</option>
                <option value="Nunavut">Nunavut</option>
                <option value="Ontario">Ontario</option>
                <option value="Prince Edward Island">Prince Edward Island</option>
                <option value="Quebec">Quebec</option>
                <option value="Saskatchewan">Saskatchewan</option>
                <option value="Yukon">Yukon</option>
                </select><br/>
            
                <label>Credit Card</label>
                <input id="creditCard" placeholder="XXXX-XXXX-XXXX-XXXX" type="text" name="creditCard"><br/>
            
                <label>Email</label>
                <input id="email" placeholder="name@email.com" type="text" name="email"><br/>
            
                <label>Password</label>
                <input id="password" placeholder="Password" type="password" name="password"><br/>
            
                <label>Confirm your Password</label>
                <input id="confPassword" placeholder="Password" type="password" name="confPassword"><br/>
            
                <img id="iAppleImg" src="images/iapple.png"><br/>
                <label> iApple Quantity</label>
                <select name="iApple" id="iApple">
                    <option value="0">----- Select a quantity-----</option>
                    <option value="1">1 iApple - $999.99 ($999.99/iApple)</option>
                    <option value="2">2 iApples - $2,499.99 ($1,249.99/iApple)</option>
                    <option value="3">3 iApples - $3,499.99 ($1,749.99/iApple)</option>
                </select><br/>
                    
                <img id="persAppleImg" src="images/persapple.jpg"><br/>
                <label> Persapple (Personnalizable Apple) Quantity</label>
                <select name="persapple" id="persapple">
                    <option value="0">----- Select a quantity-----</option>
                    <option value="1">1 Persapple - $24.99 ($24.99/Persapple)</option>
                    <option value="2">2 Persapples - $44.99 ($22.49/Persapple)</option>
                    <option value="3">3 Persapples - $64.99 ($21.66/Persapple)</option>
                </select><br/>
            
                <img id="dicedAppleImg" src="images/diced_apple.jpg"><br/>
                <label> Diced Apple Quantity</label>
                <select name="dicedApple" id="dicedApple">
                    <option value="0">----- Select a quantity-----</option>
                    <option value="1">1 Diced Apple - $4.99 ($4.99/Diced Apple)</option>
                    <option value="2">2 Diced Apples - $8.99 ($4.49/Diced Apple)</option>
                    <option value="3">3 Diced Apples - $12.99 ($4.33/Diced Apple)</option>
                </select><br/>
                <br/><br/>
            
                <input id="submitButton" type="submit" value="PURCHASE">
            </form>  
            <div class="formData">
                <%
                if(typeof(errors) != 'undefined'){
                    for(var error of errors){
                    %>
                    <p class="errors"><%= error.msg %></p>
                    <%
                    }
                }
                %>
                <%
                if(typeof(total) != 'undefined'){
                    %>
                    <p id="formResult">Your Invoice:</p>
                    <table>
                    <tr>
                        <th>Full Name: </th>
                        <td><%= fullName %></td>
                    </tr>
                    <tr>
                        <th>Phone Number: </th>
                        <td><%= phoneNumber %></td>
                    </tr>
                    <tr>
                        <th>Address: </th>
                        <td><%= address %></td>
                    </tr>
                    <tr>
                        <th>City: </th>
                        <td><%= city %></td>
                    </tr>
                    <tr>
                        <th>Province: </th>
                        <td><%= province %></td>
                    </tr>
                    <tr>
                        <th>Credit Card: </th>
                        <td>XXXX-XXXX-XXXX-XXXX</td>
                    </tr>
                    <tr>
                        <th>iApple Quantity: </th>
                        <td><%= iApple %></td>
                    </tr>
                    <tr>
                        <th>Persapple Quantity: </th>
                        <td><%= persapple %></td>
                    </tr>
                    <tr>
                        <th>Diced Apple Quantity: </th>
                        <td><%= dicedApple %></td>
                    </tr>
                    <tr>
                        <th>Subtotal: </th>
                        <td>$<%= subTotal.toFixed(2) %></td>
                    </tr>
                    <tr>
                        <th>Taxes: </th>
                        <td><%= taxes*100 %>%</td>
                    </tr>
                    <tr>
                        <th>Total: </th>
                        <td>$<%= total.toFixed(2) %></td>
                    </tr>
                    </table>
                    <%
                }
                %>
            </div>
    </body>
</html>