/*  main.css
    CSS part of Assignment 2 

    Revision History
        Pierre Loubateres, 2020.10.18: Final Version
*/
body {
    background-color: darkseagreen;
}
h1 {
    font-family: 'Cooper Black', Verdana, Tahoma, sans-serif;
    font-size: 38px;
    text-align: center;
}
form, .formData {
    background-color: indianred;
    border: 3px solid darkred;
    border-radius: 15px;
    box-shadow: 4px 5px 0 0 darkgreen;
    width: 45%;
    font-family: 'Cooper Black', Verdana, Tahoma, sans-serif;
    padding: 5px 5px 5px 10px;
    margin: 0 1% 5% 1%;
}
form {
    float: left;
}
.formData {
    float: right;
}
form label {
    width: 49%;
    display: inline-block;
    margin: 5px 5px 5px 5px;
}
form input {
    background-color: bisque;
    width: 40%;
    font-weight: bold;
}
form select {
    background-color: bisque;
    width: 41.5%;
    max-width: 349px;
    font-weight: bold;
    font-size: 12px;
}
form img {
    width: 50px;
    height: 50px;
    background-color: indianred;
    border: 3px solid darkred;
    border-radius: 15px;
    box-shadow: 2px 3px 0 0 darkgreen;
    display: inline-block;
}
form #submitButton {
    margin: 0 30%;
    height: 40px;
    background-color:bisque;
    border: 3px solid darkred;
    border-radius: 15px;
    box-shadow: 4px 5px 0 0 darkgreen;
    font-family: 'Cooper Black', Verdana, Tahoma, sans-serif;
    font-size: 20px;
}